<h1>Mes produits que ne sont pas de bières...</h1>
<p>{{salutation}}</p>

Est editable<input type="checkbox" (click)="rendreEditable()">

<app-produit *ngFor="let unProduit of produit" [produit]="unProduit" [estEditable]="estEditable"></app-produit>

<!-- <article *ngFor="let unProduit of produit">
    Est editable<input type="checkbox" [(ngModel)] = "unProduit.editable">
    
    <!-- <input value="{{unProduit.prix}}"> -->
    <!-- <input [(ngModel)] = unProduit.prix>
    <span *ngIf="unProduit.prix < 50">Rabais</span> -->
<!-- </article> --> -->
